{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      2,
      "single"
    ],
    "jsx-quotes": 1,
    "strict": [
      2,
      "never"
    ],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/prop-types": 1,
    "react/jsx-no-bind": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-closing-bracket-location":1,
    "react/wrap-multilines":1,
    "react/self-closing-comp":1,
    "react/sort-comp":1
  },
  "plugins": [
    "babel",
    "react"
  ]
}
